# 排除所有隐藏文件和文件夹（除了 .dockerignore 和 .gitignore）
.*

# 但保留 .dockerignore 和 .gitignore 文件
!.dockerignore
!.gitignore

# 排除常见的版本控制系统文件夹
.git/
.gitlab-ci.yml
.gitmodules
.hg/
.svn/

# 排除 IDE 和编辑器生成的配置文件夹
.idea/
.vscode/
.project
.classpath

# 排除 Node.js 项目的依赖包
node_modules/

# 排除 Maven 和 Gradle 构建工具生成的文件夹
target/
build/

# 排除 Python 项目的虚拟环境和依赖包
venv/
__pycache__/
*.pyc

# 排除 Java 项目的编译产物
bin/
classes/
lib/

# 排除 Go 语言项目的模块缓存
go.sum
go.mod

# 排除日志文件和其他大型文件
*.log
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db

# 排除 Docker 自身生成的文件
.dockerenv
