# 排除常见的版本控制系统文件夹
.git/
.gitlab-ci.yml
.gitmodules
.hg/
.svn/

# IDE (IntelliJ IDEA)
.idea/
.vscode/
.classpath
.project
*.iml
*.iws
*.ipr
out/

# 依赖管理 (本地仓库路径，通常不建议提交)
# (Maven的本地仓库通常位于用户目录下，一般不包含在项目内)
target/
build/

# 构建产物
bin/
classes/
lib/
*.jar
*.war
*.ear

# 排除 Node.js 项目的依赖包
node_modules/

# 日志文件
logs/
*.log
*.log.[0-9]

# 临时文件
*.tmp
*.temp

# 其他
.env
*.bak
*.swp
.DS_Store
Thumbs.db
